.preview-image {
    width: 100%;
    max-width: 95vw;
    height: auto;
    cursor: pointer;
}

.preview-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image-container img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.preview-image-container .close-button {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 44px;
  color: aliceblue;
}
